.btn-donate {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 14px;
	background-color: #AB3334;
	font-weight: bold;
	color:white;
}

.btn-donate:hover {
	background-color: #435465;
}

.info-container > h1 {
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}

.info-container > h6 {
	font-weight: bold;
	margin-bottom: 4px;
}

.info-container > p {
	margin-bottom: 10px;
	line-height: 160%;
}

.cause-image {
	width: 100%;
	height: auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 20px;
	border-radius: 6px;
	border:2px solid black;
}

.circle-image {
	width:120px;
	height:120px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.contact-message {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 28px;
}

#contact {
	margin: 20 20 20 20;
	padding:none;
	height: auto;
}

.contact-table {
	text-align:center;
}

.email-form > fieldset > input {
	margin-bottom: 0px;
}

.email-form > fieldset > label {
	line-height: 0.7;
	margin-top: 20px;

}

.email-text {
	height:180px;
	width:400px;
	margin-bottom: 0px;
	margin-top: 4px;
	font-size: 14px;
	line-height: 14px;
	padding-left: 6px;
}

.event-image {
	width: 100%;
	height: auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 5px;
	border-radius: 6px;
	border:2px solid black;
}

.event-name {
	position: relative;
	z-index: 2;
}

.fb-social {
	display: none !important;
}

.twitter-social {
	display: none !important;
}

.greeting {
	position: absolute;
	z-index: 100;
	margin: 20 0 0 0;
	width: 100%;
}

.greeting > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.header-section {
	width:100%;
	height:540px;
	padding-top: 73px;
}

.header-text {
	font-family: Trebuchet MS;
	color:white;
	padding-top: 20px;
	float: center;
	text-align: center;
}

.home-button {
	position: relative;
	z-index: 2;
}

.home-info {
	width:50%;
	margin:0 auto;
}

.info-section {
	font-family: Trebuchet MS;
	text-align:center;
	color:white;
	margin-left: 0px;
	padding-left: 20px;
}

.info-section > h3 {
	color:white;
}

.info-section > p {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
}

.info-section:hover {
	cursor:pointer;
	background-color: #25688c;
}

.link-container {
	margin-left: 10px;
	margin-right: 10px;
}

.link-container-left {
	float: left;
	width: 49.5%;
	margin-top: 10;
	margin-bottom: 20;
	margin-left: auto;
	margin-right: auto;
	padding: 20 0 20 0;
	border-radius: 6px;
	background-color: #AB3334;
}

.link-container-left > h3 {
	font-size: 28px;
	color:white;
	text-align: center;
	margin-top: 0px;
}

.link-container-left:hover {
	cursor:pointer;
	background-color: #435465;
}

.link-container-right {
	float: right;
	width: 49.5%;
	margin-top: 10;
	margin-bottom: 20;
	margin-left: auto;
	margin-right: auto;
	padding: 20 0 20 0;
	border-radius: 6px;
	background-color: #AB3334;
}

.link-container-right:hover {
	cursor:pointer;
	background-color: #435465;
}

.link-container-right > h3 {
	font-size: 28px;
	color: white;
	text-align: center;
	margin-top: 0px;
}


